Welkom in het eerste notebook van deze course. In dit notebook zullen we kennismaken met Python. Veel succes en bovenal veel plezier gewenst.

# Opdracht

## Bestand openen & inleveren

Dit bestand kun je hier openen:

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1d3ASXs61X0Omq1iU9s0bEILwAg3-6b_1?usp=sharing)

Lever het resultaat als *.ipynb* bestand in via eJournal. Dit doe je door de volgende stappen te volgen nadat je klaar bent:

File > Download > Download .ipynb

# Notebooks

Tijdens deze course gebruiken we Google Colab als primaire manier om te oefenen met Python. Colab maakt het mogelijk om Python code gratis in de cloud te draaien zonder Python te hoeven installeren op je computer. Ook kun je met Google Colab gebruik maken van de beschikbare [GPU's](https://en.wikipedia.org/wiki/Graphics_processing_unit).

Het document dat je leest is geen statische webpagina, maar een interactieve omgeving, ook wel notebook genoemd, waarmee je code kunt schrijven en uitvoeren. Notebooks bestaan ​​uit zogenaamde codecellen, blokken van één of meer Python-instructies. Hier is bijvoorbeeld een codecel die het resultaat van een berekening (het aantal seconden in een dag) opslaat in een variabele en het resultaat print:

In [ ]:
seconden_in_een_dag = 24 * 60 * 60
print(seconden_in_een_dag)

86400

Klik op de "play" knop om de code uit te voeren (hover over de bovenstaande code, dan komt de knop tevoorschijn). Soms moet je even wachten, maar na een aantal seconden zou er bij de play knop een groen vinkje moeten verschijnen waarbij onder het blok code het resultaat van de berekening komt te staan. Ook is het mogelijk om de code uit te voeren met Ctrl + Enter (Command + Enter voor Mac gebruikers).

Variabele uit de ene cel kun je ook gebruiken in latere cellen, zoals hier:

In [ ]:
seconden_in_een_week = 7 * seconden_in_een_dag
seconden_in_een_week

604800

Let op dat de volgorde van uitvoering van de cellen belangrijk is. Als we bijvoorbeeld de cel die *seconden_in_een_dag* opslaat niet van tevoren uitvoeren, zal de bovenstaande cel een fout genereren, omdat deze afhankelijk is van deze variabele. Om er zeker van te zijn dat alle cellen in de juiste volgorde uitvoert, kunt je ook klikken op "Runtime" in het hoofdmenu en vervolgens op "Run all".

**Oefening** Voeg een cel toe onder deze cel: klik op deze cel en klik vervolgens op "+ Code" (door net onder deze cel met je muis te hoveren). Bereken in de nieuwe cel het aantal seconden in een jaar door de variabele *seconden_in_een_dag* opnieuw te gebruiken. Voer de nieuwe cel uit.

# Python

Python is een van de populairste programmeertalen voor machine learning, zowel in de academische wereld als in de publieke sector. In deze sectie zullen we een begin maken met de basis van Python. Ook zul je hier een aantal kleine opdrachtjes vinden om mee te oefenen.

## Variabelen

### Uitleg

In [ ]:
#Een variabele slaat een stukje informatie op en geeft het een naam. Hieronder bijvoorbeeld verwijst de variabele "een_nummer" naar het getal 42
een_nummer = 42

#Zoals je ziet werkt dit vergelijkbaar als in wiskunde. We zouden op deze manier ook bijvoorbeeld een variabele x kunnen aanmaken en laten verwijzen naar het getal 4.
x = 4

#Als we vervolgens deze bij elkaar optellen gebeurt waarschijnlijk hetgeen wat je had verwacht.
print(een_nummer + x)

#Druk zoals je ook eerder deed op de play knop om dit stuk code uit te voeren.

46

### Opdracht 1

Maak nu in het onderstaande code blok je eigen variabelen aan en tel ze bij elkaar op!

In [ ]:
#Jouw code

### Uitleg

Buiten getallen kun je in variabelen ook andere soorten informatie opslaan, dat zullen we hieronder kort behandelen.

In [ ]:
#Dit noemen we 'booleans' ook wel true/false waardes.
is_het_donderdag = True
is_het_woensdag = False

#Dit is een floating point nummer, een nummer met getallen achter de komma. Getallen zonder getallen achter de komma noemen we integers.
pi = 3.1415

#In deze variabele hebben we een stuk tekst geplaatst. Dit wordt aangegeven door de aanhalingstekens. Zo'n stuk tekst heet ook wel een string.
mijn_naam = "Jacob"

#Ook als je nummers plaatst tussen aanhalingstekens ziet Python dit als een string (dus een stukje tekst).
mijn_leeftijd = "43"

# Voer ook dit maar eens uit met de play knop.
print(is_het_woensdag)
print(mijn_naam)
print(pi)

# Het is wel interessant om te zien wat er hier gebeurt:
print(mijn_leeftijd + mijn_leeftijd)

False
Jacob
3.1415
4343

### Opdracht 2

Maak twee strings en tel ze bij elkaar op.

In [ ]:
#Jouw code

## Andere soorten data in Python

Om nuttige dingen te kunnen doen met Python willen we vaak op andere manieren met data werken, waarbij alles in een variabele plaatsen niet overzichtelijk/efficiënt/werkbaar is. Hier zullen we er een paar behandelen.

### Uitleg

Wat kunnen we doen als we niet 1 nummer willen opslaan, maar meerdere nummers? Die kunnen we plaatsen in een lijst (list).

In [ ]:
#Als we een lijst met prijzen hebben van een product kunnen we die opslaan in een lijst.
#De lijst wordt aangegeven door blokhaken, waarbij de prijzen worden gescheiden door komma's.
prijzen = [10, 20, 15, 12]

#We kunnen een lijst ook eerst leeg aanmaken en daarna pas vullen.
kleuren = []
kleuren.append("blauw")
kleuren.append("rood")
kleuren.append("paars")
kleuren.append("oranje")

#Voer ook dit maar eens uit, als het goed is zie je twee lijsten.
print(prijzen)
print(kleuren)

[10, 20, 15, 12]
['blauw', 'rood', 'paars']

### Opdracht 3

Eerder maakten we de lijst *kleuren* aan. Het is mogelijk om in het midden van een lijst een item toe te voegen. Voeg een extra kleur toe in het midden van de lijst. Je mag het internet gebruiken!

In [ ]:
#Jouw code

### Uitleg

Eerder telden we al variabelen bij elkaar op. We kunnen natuurlijk ook delen, vermenigvuldigen etc. Dit gaat in Python als volgt:

In [ ]:
#Hier maken we twee variabelen aan om mee te werken.
nummer1 = 3.75
nummer2 = 5.25

# De plus/min/keer/delen door noemen we ook wel operators. We doen er ten slotte "operaties" mee.
print(nummer1 + nummer2)
print(nummer1 - nummer2)
print(nummer1 * nummer2)
print(nummer1 / nummer2)

#Hier is ook nog een interessante, dit is de modulo:
print(5 % 2)

9.0
-1.5
19.6875
0.7142857142857143
1

### Opdracht 4

Maak een berekening waarbij je gebruik maakt van verschillende operators.

In [ ]:
#Jouw code

### Uitleg

Soms willen we een stukje code meerdere keren uitvoeren. Hiervoor kunnen we een loop gebruiken. We kunnen bijvoorbeeld elk item in een lijst printen. Laten we de eerder gemaakte lijst *prijzen* gebruiken. Meer informatie over loops is ook [hier](https://www.w3schools.com/python/python_for_loops.asp) te vinden.

In [ ]:
#Voor elk item in de lijst prijs printen we het item in de lijst.
for item in prijzen:
  print(item)

10
20
15
12

Op deze manier kunnen we ook operaties uitvoeren op de items in de lijst:

In [ ]:
#We printen de items en tellen er 1 bij op.
for item in prijzen:
  print(item + 1)

11
21
16
13

We hebben op deze manier de lijst zelf niet aangepast, die blijft onveranderd, kijk maar:

In [ ]:
print(prijzen)

[10, 20, 15, 12]

### Opdracht 5

Maak een loop met de lijst *kleuren*.

In [ ]:
#Jouw code

### Opdracht 6

Deze laatste opdracht is iets moeilijker. Maak een loop waarmee je alle getallen uit de lijst *prijzen* bij elkaar op telt. Het resultaat 57 als je het goed hebt gedaan.

In [ ]:
#Jouw code