# Python introductie

## Variables

In [2]:
x = 5 
naam = "Marie"
leeftijd = 15.7 
een_zin = "Dit is een hele zin."

## Data Types

In [3]:
print(x)
print(naam)
print(leeftijd)
print(een_zin)

print(type(x))
print(type(naam))
print(type(leeftijd))
print(type(een_zin))

5
Marie
15.7
Dit is een hele zin.
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

## Operators

In [6]:
print(5*3)
print(x+1)

15
6

## Lists/tuples/sets

In [6]:
a_list = [1,naam,2]
a_tuple = (1,naam,2)
a_set = {1,naam,2}

print(a_list)
print(a_tuple)
print(a_set)

print(type(a_list))
print(type(a_tuple))
print(type(a_set))

[1, 'Marie', 2]
(1, 'Marie', 2)
{1, 2, 'Marie'}
<class 'list'>
<class 'tuple'>
<class 'set'>

## Dictionaries

In [10]:
a_dict = {
    "brand": "Ford", "model": "Mustang", "year": 1964
}

print(a_dict["brand"])

Ford

## Conditions

In [13]:
a = 1
b = 2

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

## Loops

In [11]:
merken = ["Ford", "Volvo", "Audi"]
for x in merken:
  print(x)

Ford
Volvo
Audi

## Functions

In [15]:
def vermenigvuldig(a,b):
  print(a*b)

vermenigvuldig(3,6)
vermenigvuldig(4,3)

18
12