# Comments en errors

## Comments

In Python kun je commentaar toevoegen op twee manieren.
1. Je kunt een nieuwe regel beginnen met een # (voornamelijk handig wanneer je commentaar één regel bevat.
2. Je kunt commentaar schrijven tussen een drietal aan aanhalingstekens (""").

### Voorbeeld

In [ ]:
# Dit is commentaar op één regel.

"""
Zo schrijf ik commentaar over meerdere regels.
Dit is handig wanneer commentaar langer is dan één regel.
"""

Commentaar zorgt voor:
- Betere leesbaarheid van je code.
- Begrijpbaar maken van je code voor anderen en voor jezelf.

In [15]:
def vermenigvuldig(n1, n2):
  """
  Deze functie vermenigvuldigd twee getallen met elkaar.
  :parameter n1:
  :parameter n2:

  :return: het resultaat van het vermenigvuldigen van n1 en n2.
  """

  # Print de nummers.
  print("Je eerste nummer:", n1)
  print("Je tweede nummer:", n2)

  # Uitrekenen van n1*n2.
  return n1*n2

# Roept de functie vermenigvuldig aan om twee getallen te multipliceren.
print("Je uitkomst is:", vermenigvuldig(5,3))

Je eerste nummer: 5
Je tweede nummer: 3
Je uitkomst is: 15

### Opdracht 1

Voorzie de volgende twee blokken code van commentaar.

In [16]:
def wisselgeld(bedrag, geld):
  print("Je bedrag is", bedrag ,"euro.")
  print("Je hebt betaald met", geld, "euro")
  return geld - bedrag

print("Je krijgt terug:", wisselgeld(10, 50))

Je bedrag is 10 euro.
Je hebt betaald met 50 euro
Je krijgt terug: 40

In [17]:
def in_koelkast(product):
  voorraad = ["kaas", "boter", "melk", "yoghurt", "jam"]
  if product in voorraad:
    print("Ja,",product,"zit in de koelast")
  else:
    print("Nee,",product,"zit niet in de koelkast")

in_koelkast("boter")

Ja, boter zit in de koelast

## Errors

## Een aantal veel voorkomende errors

Een indentatie op een plek waar Python deze niet verwacht.

In [18]:
print("lijn 1")
  print("lijn 2")

IndentationError: ignored

Om twee waardes te vergelijken gebruik je *==* in plaats van *=*. Python geeft aan dat de syntax (ook wel opbouw) niet klopt.

In [42]:
x=10
if x = 10:
  print("x is equal to 10")

SyntaxError: ignored

Python geeft aan dat *var_tset* niet gedefinieerd is. Dit komt vaak voor wanneer je een variabele perongeluk niet goed spelt.

In [24]:
var_test = 1
print(var_tset)

NameError: ignored

Python geeft een typeError. Dit gebeurt wanneer je iets probeert te doen met een type data waarvoor het niet geschikt is. In dit geval probeer je een getal (10) op te tellen bij de string "hallo".

In [28]:
x = 10
y = "hallo"
result = x + y

TypeError: ignored

## Oplossen van errors

Om uit te vogelen wat er mis is met je code kun je een aantal dingen doen:
1. Bekijk het bericht van Python. Vaak geeft Python aan waar er iets fout gaat.
2. Ga je code na en ga stukje voor stukje na of je code wel werkt.
3. Google! Je kunt altijd Google gebruiken. Er is bijna altijd wel iemand die tegen hetzelfde probleem is aangelopen. https://stackoverflow.com/ is vaak de website waar de vraag gesteld is.

## Opdracht 2

Los de error(s) op in de volgende twee blokken code.

In [33]:
x = 1
y = 2

if x + y = 3:
  print("geslaagd")
else:
  print("niet geslaagd")

SyntaxError: ignored

In [41]:
def oppervlak(lengte, breedte):
'''
Deze functie berekent de oppervlakte op basis van de lengte en breedte.
:parameter lengte: de lengte van het object
:parameter breedte: de breedte van het object

return: de oppervlakte.
'''
  return lengte * breede

print(oppervlak(10, 25))

IndentationError: ignored

In [44]:
x = "1"
y = "2"
z = "drie"
q = "4"
r = "5"

int(x) + int(y) + int(z) + int(q) + int(r)

ValueError: ignored